{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "light" -}}
{{- $entrycount := .Params.entrycount | default 3 -}}
{{- $summarylen := .Params.summarylen | default 200 -}}

<section id="{{ $name }}" class="fragment">

  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">

    <div class="container py-5">

      <div class="title-container row mx-0">
        <div class="title col px-0 text-center text-body">
          <h2>{{- $.Params.title -}}</h2>
        </div>
      </div>

      <div class="row pt-4 justify-content-center">

        {{- range (where .Site.Pages "Section" "blog" | first $entrycount ) -}}
          {{- $page := . -}}

          <div class="col-lg-4 col-md-9 col-12 py-2">
            <div class="card">
              <div class="card-header text-info">
                <h5 class="mt-0 font-weight-normal text-center"><a href="{{ $page.Permalink }}">{{- $page.Title | markdownify -}}</a></h5>
                <div class="mt-0 h6 font-weight-normal text-center"><time datetime="{{ $page.Date.Format "2006-01-02" }}">{{- $page.Date.Format ($.Site.Params.date_format  | default "2006-01-02") -}}</time></div>
              </div>
              <div class="card-body bg-light">
                {{ $page.Summary | truncate $summarylen }}
                {{- if $page.Params.asset -}}
                  </div>
                  <div class="card-body bg-light text-center">
                    <img src="/images/{{ $page.Params.asset.image }}" alt="{{ $page.Title }}" title="{{ $page.Title }}" />
                {{- end -}}
              </div>
              <div class="card-body bg-light">
                <a
                  href="{{ $page.Permalink }}"
                  class="btn btn-block btn-secondary"
                  data-primary-action="click">
                  Zum Artikel...
                </a>
              </div>
            </div>
          </div>

        {{- end -}}

      </div>

    </div>

  </div>

</section>
