{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "light" -}}
{{- $self := . -}}

<section id="{{ $name }}" class="fragment">

  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">

    <div class="container py-5">

      <div class="title-container row mx-0">
        <div class="title col px-0 text-body">
          <h3>{{- $fragment.title -}}</h3>
        </div>
      </div>

      {{- with .self.Content }}
        <div>
          {{- . -}}
        </div>
      {{- end -}}

      {{- $items := partial "helpers/subitems.html" . -}}
      {{- range $items -}}
        {{- $mockup := . -}}

        <div class="card mb-3">
          <div class="row no-gutters">
            {{- range $mockup.Params.assets -}}
              <div class="col-md-3 p-2">
                {{- $asset := . -}}
                {{- $asset_title := $asset.title | default $mockup.Params.title -}}
        			   <img src="{{ partial "helpers/image.html" (dict "root" $self "this" . "asset" .) }}" alt="{{ $asset_title }}" title="{{ $asset_title }}" class="card-img" />
               </div>
            {{- end -}}
            {{- if (ge (len $mockup.Params.assets) 3) -}}
              </div>
              <div class="row no-gutters">
                <div class="col-md-12">
            {{- else -}}
              <div class="col-md-{{ (sub 12 (mul 3 (len $mockup.Params.assets))) }}">
            {{- end -}}
              <div class="card-body">
                <h4 id="{{ anchorize $mockup.Params.title }}" class="card-title">{{ $mockup.Params.title }}</h4>
      					{{ $mockup.Content }}
                <p class="card-text"><small class="text-muted">Letzte Änderung: <time datetime="{{ $mockup.Params.Date.Format "2006-01-02" }}">{{- $mockup.Params.Date.Format ($.Site.Params.date_format  | default "2006-01-02") -}}</time></small></p>
              </div>
            </div>
          </div>
        </div>

      {{- end -}}

    </div>

  </div>

</section>
