{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "light" -}}
{{- $self := . -}}

<section id="{{ $name }}" class="fragment">

  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">

    <div class="container py-5">

      <div class="title-container row mx-0">
        <div class="title col px-0 text-body">
          <h3>{{- $fragment.title -}}</h3>
        </div>
      </div>

      {{- with .self.Content }}
        <div>
          {{- . -}}
        </div>
      {{- end -}}

      {{- $items := partial "helpers/subitems.html" $self -}}
      {{- range $items -}}
        {{- $persona := . -}}

        <h4 id="{{ anchorize $persona.Params.title }}">{{ $persona.Params.title }}</h4>

        <div class="row row-cols-1 row-cols-md-2">

          <div class="col mb-4">
            <div class="card">
              {{- $asset := $persona.Params.asset -}}
              {{- $asset_title := $asset.title | default $persona.Params.title -}}
              <img src="{{ partial "helpers/image.html" (dict "root" $self "this" $asset "asset" $asset) }}" alt="{{ $asset_title }}" title="{{ $asset_title }}" class="card-img-top" />
            </div>
          </div>

          <div class="col mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Eigenschaften</h5>
                <div class="card-text">
                  {{ $persona.Content }}
                </div>
              </div>
            </div>
          </div>

        </div>

        <h5>Anforderungen</h5>

        <div class="row row-cols-1 row-cols-md-4">

          {{- range $persona.Params.requirements -}}
            {{- $requirement := . -}}

            <div class="col mb-3">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">{{ $requirement.text | markdownify }}</p>
                </div>
              </div>
            </div>

          {{- end -}}

        </div>

      {{- end -}}

    </div>

  </div>

</section>
